.sidebar {
  min-height: 100vh;
  width: 300px;
  top: 0px;
  left: 0;
  z-index: 996;
  transition: all 0.3s;
  padding: 64px 32px;
  border-right: 1px solid #ebe8e8;
  background-color: #303A4D;
}


.optionSidebar {
  color: rgb(171, 162, 162);
  font-style: medium;
}