.sidebar {
  min-height: 100vh;
  width: 300px;

  transition: all 0.3s;

  border-right: 1px solid #ebe8e8;
  background-color: #303A4D;

   flex-shrink: 0;
}

.titulo {
height: 54px;
display: flex;
justify-content: center;
align-items: center;
color: #F9FAFB;
 background-color: #1E293B;
 border-bottom: 1px solid #626469;
}

.optionSidebar {
  color: rgb(171, 162, 162);
  font-weight: 500;         
}
